<%= form_for(@post, { html: { style: 'max-width: 800px' }}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, style: "width: 100%;" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, style: "width: 100%; height: 500px;" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
