<%= render :partial => 'welcome/header', :locals => { :css_class => 'grid header' } %>
<p id="notice"><%= notice %></p>

<div class="grid grid-pad">
  <% if user_signed_in? %>
    <div class="col-8-12">
      <%= link_to 'New Post', new_post_path, :style => 'float: right;' %>
    </div>
  <% end %>
  <div class="col-4-12" style="float: right;">
    <h2 style="text-align: center; margin-bottom: 2em">Sample Work</h2>
    <%
      content = RedCloth.new(property('WelcomeContent'))
      content.filter_html = true
    %>
    <%= content.to_html.html_safe %>
  </div>
  <% @posts.each do |post| %>
    <div class="col-8-12" style="margin-bottom: 4em;">
      <% if user_signed_in? && current_user.posts.find_by_id(post.id) %>
        <div style="text-align: right;">
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy',
            post,
            method: :delete,
            data: { confirm: 'Are you sure?' }
          %>
        </div>
      <% end %>
      <h1 style="text-align: center;"><%= post.title %></h1>
      <p style="padding-bottom: 10px; text-align: center;">
        published: <%= post.created_at.to_date.strftime('%a, %b %d, %Y') %>
        <br />
        by: <%= post.user.email.gsub(/@.*/, '') %>
      </p>
      <%
        body = RedCloth.new(post.body.truncate(400))
        body.filter_html = true
      %>
      <%= body.to_html.html_safe %>
      <% if post.body.length > 400 %>
        <h3 style="float: right; margin: 0; padding: 0;">
          <%= link_to 'Continue reading...', post %>
        </h3>
      <% end %>
    </div>
  <% end %>
</div>

<div class="grid footer">
  <div class="col-2-12">
    <h3><%= link_to 'About', welcome_about_path %></h3>
  </div>
  <div class="col-2-12">
    <h3><%= link_to 'Sign In', new_user_session_path %></h3>
  </div>
</div>
